<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<body>

	<head>
		<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-black" th:fragment="cabecera">
			<div class="container-fluid">

				<a class="navbar-brand d-flex align-items-center text-warning" href="#">
					<i class="bi bi-scissors me-2 fs-2"></i>
					<span class="fs-4 fw-bold">Salón Pro</span>
				</a>

				<button class="navbar-toggler border-warning" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item">
							<a class="nav-link text-warning px-4" href="#">Inicio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-warning px-4" href="#">Servicios</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-warning px-4" href="#">Galería</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-warning px-4" href="#">Quiénes Somos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-warning px-4" href="#">Iniciar Sesión</a>
						</li>
					</ul>

					<div class="d-flex align-items-center gap-3 mt-3 mt-lg-0">
						<a href="#" class="text-decoration-none d-flex align-items-center gap-2 text-warning">
							<i class="bi bi-telephone-fill"></i>
							<span>954 33 14 88</span>
						</a>

						<button class="btn btn-warning rounded-pill d-flex align-items-center gap-2 fw-bold text-black">
							<i class="bi bi-calendar-event"></i>
							Reservar Cita
						</button>

					</div>
				</div>
			</div>
		</nav>
	</head>

</body>

</html>